<div class="col-md-8 col-md-offset-2">

	<%= form_for @meat do |f| %>
		
		<fieldset>
			<legend><%=@meat.name%></legend>

			<!-- NAME -->
			<div class="form-block">
				<%= f.label :name %>
					<%= f.text_field :name, class: "form-control", placeholder: "Enter product name" %>
			</div>


			<!-- SUPPLIER -->
			<div class="form-block">
				<%= f.label :supplier_id %>
					<%= f.collection_select :supplier_id, Supplier.all, :id, :name, include_blank: true %>
			</div>


			<!-- IMAGE -->
			<div class="form-block">
				<%= f.label :image %>
					<%= f.file_field :image, class: "file-upload" %>
			</div>

			<div class="form-block">

				<!-- ANTIBIOTIC FREE -->
					<div class="checkbox">
						<%= f.label :ab_free %>
						<%= f.check_box :ab_free %>
					</div>

				<!-- HORMONE FREE -->
					<div class="checkbox">
						<%= f.label :hormone_free %>
						<%= f.check_box :hormone_free %>
					</div>

				<!-- WILD CAUGHT -->
					<div class="checkbox">
						<%= f.label :wild_caught %>
						<%= f.check_box :wild_caught %>
					</div>

				<!-- FARM GROWN -->
					<div class="checkbox">
						<%= f.label :farm_grown %>
						<%= f.check_box :farm_grown %>
					</div>

				<!-- ARTIFICIAL COLOR -->
					<div class="checkbox">
						<%= f.label :artificial_color %>
						<%= f.check_box :artificial_color %>
					</div>
			</div>

			<!-- DESCRIPTION -->
			<div class="form-block">
				<%= f.label :description %>
					<%= f.text_area :description, rows: 3, class: "form-control" %>
			</div>

			<!-- GROWTH CONDITIONS -->
			<div class="form-block">
				<%= f.label :growth_conditions %>
					<%= f.text_area :growth_conditions, rows: 3, class: "form-control" %>
			</div>

			<div class="form-block">
					<%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
			</div>
		
		</fieldset>

	<% end %>

</div>

